:host {
  display: block;
  margin-top: 16px;
}

.voting-table {
  width: 100%;
}

th.mat-header-cell,
td.mat-cell {
  padding: 12px 16px;
}

th.mat-header-cell-right,
td.mat-cell-right {
  text-align: right;
  padding: 12px 16px;
}