<h3>{{ title }}</h3>

<table mat-table [dataSource]="data" class="mat-elevation-z8">

  <!-- Index Column -->
  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
  </ng-container>

  <!-- Abstimmung Column -->
  <ng-container matColumnDef="abstimmung">
    <th mat-header-cell *matHeaderCellDef>Abstimmung</th>
    <td mat-cell *matCellDef="let row">{{ row.abstimmung }}</td>
  </ng-container>

  <!-- Kanton Column -->
  <ng-container matColumnDef="kanton">
    <th mat-header-cell *matHeaderCellDef>Kanton</th>
    <td mat-cell *matCellDef="let row">{{ row.kanton }}</td>
  </ng-container>

  <!-- Ja Column -->
  <ng-container matColumnDef="ja">
    <th mat-header-cell *matHeaderCellDef>Ja</th>
    <td mat-cell *matCellDef="let row" >{{ row.ja }}</td>
  </ng-container>

  <!-- Nein Column -->
  <ng-container matColumnDef="nein">
    <th mat-header-cell *matHeaderCellDef >Nein</th>
    <td mat-cell  *matCellDef="let row">{{ row.nein }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
